<%= form_with(url: sessions_path, scope: :user) do |form| %>
    <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
