<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PoketiFY</a>
      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=<%= pokemons_path %>>Pokemons</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <% if Current.user %>
                <%= Current.user.name %>
              <% else %>
                Session
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <% unless Current.user %>
                <li><a class="dropdown-item" href=<%= new_session_path %>>Login</a></li>
                <li><a class="dropdown-item" href=<%= new_user_path %>>Create user</a></li>
              <% end %>
              <% if Current.user %>
                <li>
                  <%= link_to "Logout", sessions_destroy_path, class: "dropdown-item"  %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<br><br>
<br><br>
